.hhcolor{
    font-size: 70px;
     font-weight: bolder;
     color: rgb(34, 238, 34);
}
.bggcolor{
    background: url("../image/businessman-touching-icon-mobile-phone-260nw-711824767.webp");
}
.tcolor{
    font-size: 30px;
}
.ttcolor{
    font-size: 25px;
    color: rgb(240, 6, 123);
}