.bgcolor{
    background: url("../css/image/clipart-books-2.jpg") no-repeat;
}
.pcolor{
    font-size: 100px;
    color: royalblue;
    font-weight: bold;
}
.hcolor{
    font-size: 45px;
    color: ;
    font-weight: bolder;
}
.ppcolor{
    font-size: 40px;
    color: green;
    font-weight: bold;
}
.pppcolor{
    font-size: 30px;
    color: hotpink;
    font-weight: 800;
}
.mytext{
    font-size: 45px;
    color: seagreen;
}
.mytext:hover{
    font-size: 65px;
    color: deepskyblue;
}
.tcolor{
    font-size:20px;
    font-weight: bold;
}

